[Unit]
Description=Recuperator service
After=dbus.service
Requires=dbus.service

[Service]
Type=simple
PIDFile=/home/pi/projects/recuperator/recuperator.pid
WorkingDirectory=/home/pi/projects/recuperator/
Environment=PYTHONUNBUFFERED=1
OOMScoreAdjust=-1000
ExecStart=/usr/bin/python3 /home/pi/projects/recuperator/recuperator.py
TimeoutSec=300
Restart=always

[Install]
WantedBy=multi-user.target 